<% include ../partials/header %>

    <div class="form-liq" style="width: 25%;">
      <h4 style="text-align: center; margin-bottom: 40px;">Edit Review %></h4>
      <form class="register-form" action="/products/<%= product_id %>/reviews/<%=review._id %>?_method=PUT" method="POST">
        <input class="form-control" type="text" value="<%=review.text %>" name="review[text]" placeholder="text">
        <button style="background-color: #006E90;">Save</button>
      </form>
      <a href="/products" >Go Back</a>
    </div>
    
<% include ../partials/footer %>

